* {
  color: #fff;
}
body {
    background-color: #192229;
  }

  header {
    width: 1300px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header-box {

    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

.logo {
    width: 20%;
    margin: 27px 0;
}

.icon-box {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-box>div {
    margin: 0 7px;
}

.icon-box>div>a>p {
    color: #fff;
}
  .main-top {
    background-image: url(../img/sub2/sub_mainimg.jpg);
    z-index: -999;
    height: 1080px;
  }
  .main-banner-text {
    background-color: rgba(21, 22, 22, 0.8);
    width: 1300px;
    height: 212px;
    margin: 0 auto;
    transform: translateY(240%);
    position: relative;
  }
  .banner-textimg {
    position: absolute;
    top: -80%;
    left: 20%;
  }
  .text-box-aa {
    background-color: #f3f3f3;
    width: 300px;
    height: 55px;
    position: absolute;
    top: 93%;
    right: -20%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
  }
  .text-box-aa > li {
    font-family: "Noto Sans KR";
    font-weight: 700;
  
    font-size: 30px;
    color: #121212;
    margin-top: 10px;
  }
  
  .text-radius {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
  }
  .slide-down {
    position: absolute;
    bottom: 0;
    right: 20%;
  }
  /* header  */
  .content-text {
    width: 1300px;
    margin: 0 auto;
    margin-top: 137px;
    text-align: center;
  }
  .ex-box {
    text-align: center;
    margin: 100px 0;
  }
  
  .ex-box>p {
    font-size: 38px;
    color: #fff;
    margin: 10px 0;
  }
  .content-text > p {
    margin-top: 80px;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
    color: #e8e8e8;
  }
  .ex-box>span {
    font-size: 38px;
    color: #fff;
    line-height: 46%;
  }
  
  .ex-box>span:nth-child(1) {
    transform: translateX(10%);
  }
  /* <!-- content-text ---> */
  
  .atm-part {
    margin-top: 200px;
    text-align: center;
  }
  .atm-menu {
    margin: 0 auto;
    background-color: #204b2c;
    width: 1300px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
  .atm-line {
    width: 6px;
    height: 28px;
    background-color: white;
    margin-left: 10px;
  }
  .atm-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
  
    margin-bottom: 1px;
  }
  .atm-icon {
    margin-top: 3px;
    margin-left: 20px;
  }
  .atm-icon > img {
    width: 30px;
  }
  .atm-img01 {
    width: 1300px;
    margin: 40px auto 0;
  }
  .atm-subtext01 {
    margin: 40px auto 0;
    text-align: center;
    color: #e8e8e8;
    font-size: 33px;
    width: 900px;
    line-height: 43px;
  }
  .atm-subtext02 {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #a5a5a5;
  }
  .atm-subtext03 {
    margin: 40px auto 0;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  .atm-subtext03 > li {
    width: 420px;
    background-color: #fafafa;
    height: 200px;
  }
  .atm-subtext03 > li > p {
    display: block;
    font-size: 18px;
    color: #000;
    margin: 30px auto 0;
    width: 66%;
    line-height: 22px;
    text-align: left;
  }
  .head {
    color: #1f9247;
    height: 50px;
    border-bottom: 1px solid #1f9344;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
  }
  /* atm01 */
  .atm-02 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-02 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-content {
    margin-top: 40px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  .atm-left {
    background-color: #204b2c;
    width: 643px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .atm-left > li {
    width: 602px;
    height: 50px;
    background-color: #a5a5a5;
    display: flex;
  }
  .atm-left > li > div:nth-child(1) {
    width: 302px;
    height: 100%;
    background-color: #f4f4f4;
  }
  .atm-left > li > div:nth-child(1) > span {
    color: #000;
    line-height: 50px;
    font-size: 18px;
    margin-left: 10px;
  }
  .atm-left > li > div:nth-child(1) > img {
    vertical-align: text-bottom;
    margin-left: 10px;
  }
  .atm-left > li > div:nth-child(2) {
    width: 302px;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid #f4f4f4;
  }
  .atm-left > li > div:nth-child(2) > span {
    color: #656565;
    font-size: 18px;
    margin-left: 10px;
    line-height: 50px;
  }
  .atm-right {
    /* background-color: #204b2c; */
    width: 643px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .atm-right > li {
    width: 602px;
    height: 50px;
    background-color: #a5a5a5;
    display: flex;
  }
  .atm-right > li > div:nth-child(1) {
    width: 302px;
    height: 100%;
    background-color: #f4f4f4;
  }
  .atm-right > li > div:nth-child(1) > span {
    color: #000;
    line-height: 50px;
    font-size: 18px;
    margin-left: 10px;
  }
  .atm-right > li > div:nth-child(1) > img {
    vertical-align: text-bottom;
    margin-left: 10px;
  }
  .atm-right > li > div:nth-child(2) {
    width: 302px;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid #f4f4f4;
  }
  .atm-right > li > div:nth-child(2) > span {
    color: #656565;
    font-size: 18px;
    margin-left: 10px;
    line-height: 50px;
  }
  .atm-02 > p {
    padding: 15px 0 0 0;
    font-size: 16px;
    color: #a5a5a5;
  }
  /* atm02 */
  
  .atm-03 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-03 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-03 > ul {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .atm-03 > ul > li {
    width: 400px;
    height: 160px;
    background-color: #e5f4ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .atm-03 > ul > li > p {
    display: block;
    width: 50%;
    color: #1f9247;
    font-size: 24px;
    font-weight: bold;
  }
  .atm-03 > ul > li > img {
    width: 30%;
    height: 40%;
  }
  .atm-03 > ul > li:nth-child(2) {
    position: relative;
  }
  .atm-03 > ul > li:nth-child(2)::after {
    content: "";
    width: 16px;
    height: 32px;
    background-image: url(../img/sub2/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -34px;
  }
  .atm-03 > ul > li:nth-child(2)::before {
    content: "";
    width: 16px;
    height: 32px;
    background-image: url(../img/sub2/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: -33px;
  }
  /* atm-03 */
  .atm-04 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-04 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-04 > p {
    color: #a5a5a5;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .atm-04-list {
    margin-top: 40px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  .atm-04-list > li {
    margin-right: 20px;
    margin-top: 20px;
    width: 310px;
    height: 310px;
    background-color: #d9d9d9;
  }
  .atm-04-list > li:nth-child(4) {
    margin-right: 0;
  }
  
  .atm-04-list > li > div {
    width: 63%;
    margin: 30px auto 0;
  
    display: flex;
    justify-content: center;
  }
  .atm-04-list > li > div > p {
    margin-left: 10px;
    font-size: 18px;
    color: #292929;
  }
  .atm-04-list > li > div > p > b {
    font-size: 12px;
    color: gray;
  }
  .atm-04-list > li > img {
    display: block;
    margin: 20px auto 0;
  }
  /* atm-04 */
  .atm-05 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-05 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-05 > p {
    color: #a5a5a5;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 20px;
  }
  .atm-05-list {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
  }
  .atm-05-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
  }
  .atm-05-list > li > span {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }
  /* atm-05 */
  .atm-06 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-06 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-06 > p {
    color: #a5a5a5;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 20px;
  }
  /* atm-06 */
  .atm-07 {
    width: 1300px;
    display: block;
    margin: 90px auto 0;
    text-align: left;
  }
  .atm-07 > span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .atm-07 > p {
    color: #a5a5a5;
    width: 70%;
    line-height: 25px;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 40px;
  }
  .atm-07-list {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
  }
  .atm-07-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
  }
  .atm-07-list > li > span {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }
  /* atm07 */
  .nav-part {
    margin-top: 100px;
  }
  .nav-menu {
    margin: 0 auto;
    background-color: #2b3d88;
    width: 1300px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
  .nav-line {
    width: 6px;
    height: 28px;
    background-color: white;
    margin-left: 10px;
  }
  .nav-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
  
    margin-bottom: 1px;
  }
  .nav-icon {
    margin-top: 3px;
    margin-left: 20px;
  }
  .nav-icon > img {
    width: 30px;
  }
  .nav-part > div {
    width: 1300px;
    margin: 40px auto 0;
  }
  .nav-part > div > span {
    margin-left: 30px;
  
    font-size: 30px;
    font-weight: bold;
  }
  .nav-part > div > ul {
    margin: 30px 30px 0;
  }
  .nav-part > div > ul > li {
    color: #a5a5a5;
    width: 70%;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .nav-content {
    margin: 30px auto 0;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content li:nth-child(1) {
    width: 48%;
    margin-right: 10px;
  }
  .nav-content li:nth-child(1) > img {
    width: 100%;
  }
  .nav-content li:nth-child(2) {
    width: 48%;
    margin-left: 10px;
  }
  .nav-content li:nth-child(2) > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .nav-content li:nth-child(2) > div {
    margin-top: 50px;
  }
  .nav-content li:nth-child(2) > div > img {
    margin-right: 20px;
  }
  /* nav-part */
  .wifi-part {
    margin-top: 100px;
  }
  .wifi-menu {
    margin: 0 auto;
    background-color: #d13a3a;
    width: 1300px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
  .wifi-line {
    width: 6px;
    height: 28px;
    background-color: white;
    margin-left: 10px;
  }
  .wifi-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
  
    margin-bottom: 1px;
  }
  .wifi-icon {
    margin-top: 3px;
    margin-left: 20px;
  }
  .wifi-icon > img {
    width: 22px;
  }
  .wifi-part > div {
    width: 1300px;
    margin: 40px auto 0;
  }
  .wifi-part > div > span {
    margin-left: 30px;
  
    font-size: 30px;
    font-weight: bold;
  }
  .wifi-part > div > ul {
    margin: 30px 30px 0;
  }
  .wifi-part > div > ul > li {
    color: #a5a5a5;
    width: 70%;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .wifi-content {
    margin: 30px auto 0;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wifi-content li:nth-child(1) {
    width: 48%;
    margin-right: 10px;
  }
  .wifi-content li:nth-child(1) > img {
    width: 80%;
  }
  .wifi-content li:nth-child(2) {
    width: 48%;
    margin-left: 10px;
  }
  .wifi-content li:nth-child(2) > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .wifi-content li:nth-child(2) > div {
    margin-top: 50px;
  }
  .wifi-content li:nth-child(2) > div > img {
    margin-right: 20px;
  }
  /* wifi-part */
  .train-part {
    margin-top: 100px;
  }
  .train-menu {
    margin: 0 auto;
    background-color: #6d502b;
    width: 1300px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
  .train-line {
    width: 6px;
    height: 28px;
    background-color: white;
    margin-left: 10px;
  }
  .train-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
  
    margin-bottom: 1px;
  }
  .train-icon {
    margin-top: 3px;
    margin-left: 20px;
  }
  .train-icon > img {
    width: 22px;
  }
  .train-content {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }
  .train-content > a > span {
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* train-part */

  footer {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../img/com/footer-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
footer::after{
    content: "";
    width: 100%;
    height: 359px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: linear-gradient(180deg, #192229 18.05%, rgba(25, 34, 41, 0) 100%);
}
.footer-box {
    max-width: 1300px;
    margin: 0 auto;
    
}

.view-box {
    padding-bottom: 150px;
    width: 100%;

}

.view-box>.view-text {
    width: 50%;
    position: relative;
    z-index: 10;
}

.view-box>.view-text>h3 {
    color: #fff;
    font-size: 50px;
}

.footer-travel-box {
    width: 100%;
    padding-bottom: 100px;
}

.footer-travel-box>.travel-text {
    width: 40%;
}

.footer-travel-box>.travel-text>p {
    color: #fff;
    font-size: 18px;
    line-height: 165.5%;
}

.footer-box>.footer-content {
    border-top: 2px solid #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footet-logo-box {
    width: 10%;
}

.text-content {
    display: flex;
}

.text-box {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.text-content>ul {
    display: flex;
}

.text-content>ul>li {
    margin: 5px 0;
    position: relative;
}

.text-content>ul>li::after {
    content: "/";
    display: block;
    width: 1px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
}

.text-content>ul>li:nth-last-child(1):after {
    content: "";
}

.text-content>ul>li>a>p {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
}

.text-box>span {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.text-box>span>p {
    margin-left: 20px;
    color: #fff;
    transform: translateY(-2px);
}

.footer-icon-box {
    text-align: end;
    width: 10%;
}

.footer-icon-box>a {
    width: 32px;
}

/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */
/* ========================= 1024 ~ 1439 ======================= */

@media screen and (min-width : 1024px) and (max-width : 1439px)  {}

/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */
/* ========================= 768 ~ 1023 ======================= */

@media screen and (min-width : 768px) and (max-width : 1023px)  {}

/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */
/* ========================= 480 ~ 767 ======================= */

@media screen and (min-width : 480px) and (max-width : 767px)  {}

/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */
/* ========================= ~479 ======================= */

@media screen and (max-width : 479px)  {


  header {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .header-box {
  
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
  } 
  
  .logo {
    width: 20%;
    margin: 16px 0 8px;
  }

  .logo a img {
    width: 70px;
  }
  
  .icon-box {
    width: 30%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .icon-box>div {
    margin: 0 2px;
    margin-left: 0;
    margin-right: 10px;
  }
  
  .icon-box>div>a>p {
    color: #fff;
    font-size: 10px;
  }
  .login > a > img {
    width: 16px;
  }








  footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(../img/com/footer-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    
  }
  footer::after{
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(180deg, #192229 18.05%, rgba(25, 34, 41, 0) 100%);
  }
  .footer-box {
    max-width: 300px;
    margin: 0 auto;
    
  }
  
  .view-box {
    padding-bottom: 10px;
    width: 100px;        
    float: left;
    display: none;
  }
  .footer-box::before{
    content: '';
    display: block;
    clear: both;
  }
  
  .view-box>.view-text {
    width: 100%;
    position: relative;
    z-index: 10;
  }
  
  .view-box>.view-text>h3 {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-travel-box {
    width: 65%;
    height: 100px;
    padding-bottom: 50px;
    overflow: hidden;
    float: right;
    display: none;
  }
 
  
  .footer-travel-box>.travel-text {
    width: 100%;
  }
  
  .footer-travel-box>.travel-text>p {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
  }
  
  .footer-box>.footer-content {
    border-top: 2px solid #fff;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
  }
  .footer-box>.footer-content::before{
    display: block;
    clear: both;
    content: '';
  }
  
  .footet-logo-box {
    width: 50%;
  }
  .footet-logo-box img {
    width: 50px;
  }
  
  .text-content {
    display: flex;
  }
  
  .text-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    order: 3;
  }
  
  .text-content>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .text-content>ul::after{
    content: "Copyright © ANA";
    font-size: 10px;

  }
  
  .text-content>ul>li {
    margin: 2px 0;
    position: relative;
    font-size: 10px;
    height: 10px;
    margin-right: 15px;
  }
  
  .text-content>ul>li::after {
    content: "/";
    display: block;
    width: 1px;
    color: #fff;
    position: absolute;
    right: -7px;
    top: 0;
  }
  
  .text-content>ul>li:nth-last-child(1):after {
    content: "";
  }
  
  .text-content>ul>li>a>p {
    color: #fff;
    font-size: 10px;
    margin-right: 1px;
  }
  
  .text-box>span {
    display: flex;
    margin-top: 1px;
    color: #fff;
    font-size: 10px;
    justify-content: space-between;
    align-items: flex-start;
    height: 10px;
    display: none;
  }
  
  .text-box>span>p {
    margin-left: 0;
    color: #fff;
    transform: translateY(-2px);
  }
  
  .footer-icon-box {
    text-align: end;
    width: 50%;
  }
  
  .footer-icon-box>a {
    width: 21px;
  }
  .footer-icon-box>a img {
    width: 20px;
  }
}

/* ===========

페이지 레이아웃 반응형 구별
1300px  900px  600px  500px  300px
================= */